In [2]:
import pandas as pd
import os

In [3]:
if '__file__' in globals():
    current_dir = os.path.dirname(__file__)
else:
    current_dir = os.getcwd()

In [4]:
bestsellers = os.path.join(current_dir, "datasets", "bestsellers.csv")
games = os.path.join(current_dir, "datasets", "games.csv")
pokemon= os.path.join(current_dir, "datasets", "Pokemon_full.csv")

In [5]:
df_books = pd.read_csv(bestsellers)
df_games = pd.read_csv(games)
df_pokemon = pd.read_csv(pokemon)

In [6]:
df_books.groupby('Author').count()

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

In [7]:
df_books.groupby('Author').sum().loc['Walter Isaacson']

Name           Leonardo da VinciSteve JobsSteve Jobs
User Rating                                     13.7
Reviews                                        18668
Price                                             61
Year                                            6040
Genre              Non FictionNon FictionNon Fiction
Name: Walter Isaacson, dtype: object

In [8]:
df_books.groupby('Author').sum().reset_index()

,Author,Name,User Rating,Reviews,Price,Year,Genre
0,Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
1,Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
2,Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
3,Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
4,Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...,...
243,Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
244,William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
245,William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
246,Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
247,Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

In [10]:
df_books.groupby('Author').agg({'Price': ['min', 'max', 'mean']})

                           Price
                             min max       mean
Author
Abraham Verghese              11  11  11.000000
Adam Gasiewski                 6   6   6.000000
Adam Mansbach                  9   9   9.000000
Adir Levy                     13  13  13.000000
Admiral William H. McRaven    11  11  11.000000
...                          ...  ..        ...
Walter Isaacson               20  21  20.333333
William Davis                  6   6   6.000000
William P. Young               8   8   8.000000
Wizards RPG Team              27  27  27.000000
Zhi Gang Sha                   6  17  11.500000

[248 rows x 3 columns]

In [11]:
df_pokemon.head(2)

,name,pokedex id,height,weight,type,secundary type,hp,attack,defense,sp atk,sp def,speed
0,bulbasaur,1,7,69,grass,poison,45,49,49,65,65,45
1,ivysaur,2,10,130,grass,poison,60,62,63,80,80,60

In [21]:
df_pokemon.groupby('type').agg({'attack': ['min', 'max', 'mean'], 
                                'sp atk': ['min', 'max', 'mean'], 
                                'defense': ['min', 'max', 'mean'], 
                                'sp def': ['min', 'max', 'mean'], 
                                'speed': ['min', 'max', 'mean']}).sort_values(('speed', 'mean'), ascending=False)

         attack                 sp atk                 defense
            min  max       mean    min  max       mean     min  max
type
electric     30  123  73.354167     35  173  83.958333      15  115  \
flying       30  115  71.571429     33  125  68.714286      35  105
dragon       50  150  98.766667     30  150  79.633333      30  125
fire         40  140  83.741379     15  151  82.637931      37  140
dark         28  131  83.342857     30  135  71.142857      28  115
psychic      20  150  63.245614     23  154  91.333333      15  131
poison       43  106  73.028571     30  145  66.142857      35  152
normal        5  160  73.862385     15  135  56.045872       5  120
fighting     35  140  99.352941     20  115  52.529412      30  115
water        10  130  71.195122     10  150  71.211382      20  180
bug          10  139  66.253333     10  145  56.720000      20  230
ice          25  130  70.407407     30  130  77.259259      15  184
ground       40  150  92.657143     20  115  51.485714      25  145
grass        27  181  72.767442     24  125  71.918605      30  131
ghost        30  131  69.633333     30  145  83.633333      30  145
fairy        20  131  63.238095     40  131  78.904762      28  115
rock         40  165  87.120000     10  127  59.740000      40  211
steel        24  143  88.566667     24  150  68.666667      49  200

                     sp def                 speed
                mean    min  max       mean   min  max       mean
type
electric   61.854167     32  100  67.604167    15  150  82.770833
flying     62.142857     35   95  67.142857    55  123  82.142857
dragon     77.800000     30  150  78.933333    40  142  78.700000
fire       65.051724     40  154  68.862069    20  126  74.896552
dark       65.200000     30  130  66.800000    35  125  73.400000
psychic    67.736842     31  154  83.649123    20  150  71.315789
poison     70.742857     40  142  66.628571    25  130  67.942857
normal     59.403670     20  135  62.862385     5  125  67.926606
fighting   69.735294     30  115  65.970588    25  138  65.735294
water      70.707317     20  140  68.991870     5  136  65.016260
bug        69.346667     20  230  62.880000     5  160  62.026667
ice        71.629630     30  200  76.333333    20  110  60.296296
ground     85.142857     30  120  62.942857    10  120  59.742857
grass      70.616279     30  129  68.779070    10  120  58.279070
ghost      76.566667     33  135  79.733333    15  110  57.833333
fairy      68.428571     40  154  87.952381    15  138  55.333333
rock       98.960000     20  150  73.260000    10  130  53.140000
steel     112.533333     35  150  76.033333    23  108  53.033333

In [27]:
df_pokemon.groupby(['type', 'secundary type']).count().head(20)

                     name  pokedex id  height  weight  hp  attack  defense
type secundary type
bug  electric           4           4       4       4   4       4        4  \
     fairy              2           2       2       2   2       2        2
     fighting           3           3       3       3   3       3        3
     fire               2           2       2       2   2       2        2
     flying            13          13      13      13  13      13       13
     ghost              1           1       1       1   1       1        1
     grass              6           6       6       6   6       6        6
     ground             1           1       1       1   1       1        1
     poison            11          11      11      11  11      11       11
     psychic            2           2       2       2   2       2        2
     rock               3           3       3       3   3       3        3
     steel              5           5       5       5   5       5        5
     water              3           3       3       3   3       3        3
dark dragon             4           4       4       4   4       4        4
     fairy              3           3       3       3   3       3        3
     fighting           2           2       2       2   2       2        2
     fire               2           2       2       2   2       2        2
     flying             5           5       5       5   5       5        5
     ghost              1           1       1       1   1       1        1
     ice                2           2       2       2   2       2        2

                     sp atk  sp def  speed
type secundary type
bug  electric             4       4      4
     fairy                2       2      2
     fighting             3       3      3
     fire                 2       2      2
     flying              13      13     13
     ghost                1       1      1
     grass                6       6      6
     ground               1       1      1
     poison              11      11     11
     psychic              2       2      2
     rock                 3       3      3
     steel                5       5      5
     water                3       3      3
dark dragon               4       4      4
     fairy                3       3      3
     fighting             2       2      2
     fire                 2       2      2
     flying               5       5      5
     ghost                1       1      1
     ice                  2       2      2